/* .ReactFlipCard__Front {
    width: 350px;
    height: 175px;
    background-color: snow;
    text-align: center;
}

.ReactFlipCard__Back {
    width: 350px;
    height: 175px;
    background-color: snow;
    text-align: center;
}
*/

.ReactFlipCard, .ReactFlipCard__Front, .ReactFlipCard__Back {
    box-sizing: border-box;
    width: 100%;
    height: 150px;
    text-align: center;
}

.ReactFlipCard__Front, .ReactFlipCard__Back {
    background-color: snow;
}