.navbar-brand {
    font-family: 'Lobster', cursive;
    font-size: 48px;
    color: purple;
}


.navbar-light .navbar-brand {
    color: rgb(165, 53, 94);
  
}

.navbar-light .navbar-nav .nav-link {
    font-size: 18px;
    color: black;
    
}
